.log{
  border: solid 2px #000;
  margin: 10px;

  .log-part {
    padding: 3px 10px;
  }

  .caller {
    text-align: right;
    background: #000;
    color: #fff;
  }
}

.error {
  background-color: rgba(255, 0, 0, .3);
}

.box {
  border: dashed 1px #555;
  text-align: center;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 4px;
  }

  .box-middle {
    display: flex;
    align-items: center;
  }
  .box-left, .box-right {
    width: 15px;
    height: 24px;
    line-height: 24px;
  }
  .box-content {
    flex-grow: 1;
  }
}
#elementBox {
  width: 50%;
}
#marginBox {
  width: 250px;
  margin: 0 auto;
  background: #F9CC9D;
  &::before {
    content: "margin";
  }
}
#borderBox {
  background: #FDDD9B;
  border: solid 1px #555;
  &::before {
    content: "border";
  }
}
#paddingBox {
  background: #C4D08B;
  &::before {
    content: "padding";
  }
}
#contentBox {
  background: #8CB6C1;
}

#elementContent {
  display: flex;
  .style-name {
    width: 55%;
    color: rgb(200, 0, 0);
  }
  .style-value {
    width: 40%;
  }
}

#elementInfo {
  width: 50%;
  .element-style {
    padding-left: 1em;
  }
}

#computedStyle {
  .opt span {
    float: right;
  }
  #computedStyleList.show-all .element-style.default {
    display: block;
  }

  .element-style {
    &.default {
      opacity: .4;
      display: none;
    }
    &>span {
      display: inline-block;
    }
  }
}

#elementSelector {
  height: 300px;
  overflow: auto;
  cursor: pointer;

  span {
    pointer-events: none;
  }
  span.tag {
    color: #881280;
  }
  .child {
    padding-left: 16px;
    position: relative;
    &>.active {
      background: #3879D9;
      color: #A5A5A5;

      span.tag {
        color: #fff;
      }
    }

    &::before,
    &::after {
      pointer-events: none;
      content: '...';
      color: #aaa;
      margin: 1em 0;
      display: inline-block;
    }
  }
}